@model USPeriodico.Models.EventoCEPE

@{
    ViewBag.Title = "Detalhar";
    if(ViewBag.NoID == false)
    {
        Layout = "~/Views/Base/_logadoBase.cshtml";
    } else {
        Layout = "~/Views/Base/_usuarioComumBase.cshtml";
    }
    
}


<div class="modal-header span6">
    <button type = "button" class="close" data-dismiss="modal">x</button>
</div>
<div class="modal-body span6">
  <dl class="dl-horizontal">
    <dt>Nome</dt>
    <dd>@Model.Nome</dd>
    <dt>Esporte</dt>
    <dd>@Model.Esporte</dd>
    <dt>Horário</dt>
    <dd>@Model.Horario</dd>
    <dt>Data</dt>
    <dd>@Model.Data.Date</dd>
    <dt>Local</dt>
    <dd>@Model.Local</dd>
    <dt>Descrição</dt>
    <dd>@Model.Descricao</dd>
  </dl>
</div>